.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.align-stretch {
  align-items: stretch;
}